<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./maqueta.css">
    <title>header</title>
</head>
<body>
    <header class="menu__content">
        <a href="" class="menu__content--logo">
            <img src="https://www.boria.fr/app/themes/boria/dist/img/logo.svg" alt="">
        </a>        
        <nav class="menu__content--principal-nav">
            <ul>
                <li class="menu__content--item menu__content--item-arrow">
                    <a href="">La boutique</a>
                </li>
                <li>
                    <a href="" class="menu__content--item">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>        
        <nav class="menu__content--secondary-nav">
            <ul>
                <li>
                    <a class="menu__content--search" href="">
                       <img class="" src="../assets/search-icon.png" alt="">
                    </a>
                </li>
                <li>
                    <a class="menu__content--user" href="">
                        <img src="../assets/user-icon.png" alt="">
                    </a>
                </li>
                <li>                    
                    <a class="menu__content--buy" href="">
                        <img src="../assets/buy-icon.png" alt="">
                        <p class="menu__content--buy-number">0</p>
                    </a>
                </li>
            </ul>
        </nav>
        <a href="" class="menu__content--burger">
            <img src="../assets/burger-icon.png" alt="">
        </a>  
    </header>
</body>
</html>