body{
    margin:0;
    font-family: "GillSans", sans-serif;
    color: #913f31;
    font-size: 13px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    width: 100%;    
}

.menu__container--img{
    padding: 50px;
}
.menu__container ul {
    list-style-type: none;  
    padding: 50px;  
}

.menu__container li{
    float: left;
}

.menu button{
    background-color: transparent;
    border: 0;
}

.flex-end{
    justify-content: flex-end;
}